<header>
    <img src="images/Logo-01.png" alt="Logo-01">
    <nav class="menuItems"> 
                <ul> 
                <li><a href="/Inicio">Inicio</a></li>
                <li><a href="/Cursos">Cursos</a></li>
                <li><a href="/Becas">Becas</a></li>
                <li><a href="/Contacto">Contacto</a></li>
                </ul>
            
    </header>