<nav class="userNavBar">
    <ul class=".helloUser">
        {{#if user}}
    <li class="logItems">
        <a href="/users/logout">Logout</a>
    </li>    
    <li class="logItems">
        <a href="/Acces">Acces</a>
    </li>
    <div class="dropdown">
  <a data-bs-toggle="dropdown" aria-expanded="false">
   Cuenta
  </a>
    <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="/users/settings">Configuración de cuenta</a></li>
    <li><a class="dropdown-item" href="/users/validate">Validar Email</a></li>
  </ul>
</div>
    </li>
    {{else}}
    <li class="logItems">
        <a href="/users/login">Login</a>
    </li>
        <li class="logItems" >
        <a href="/users/register">Register</a>
    </li>
    {{/if}}
</nav>

