<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <title>Vuela Alto</title>
</head>
<body>
<header>
    <img src="images/Logo-01.png" alt="Logo-01">
    <nav class="menuItems"> 
                <ul> 
                <li><a href="/Inicio">Inicio</a></li>
                <li><a href="/Cursos">Cursos</a></li>
                <li><a href="/Becas">Becas</a></li>
                <li><a href="/Contacto">Contacto</a></li>
                </ul>
            
    </header>
{{{body}}}
</body>

    <footer class="boxFoter">
    <footer class="boxFoter">
            <div class="brandLogo"><img src="images/Logo-01.png" alt="logo" height="70px">
                <p class="brandName">Vuela Alto © 2012</p>
            </div>
            <div class="footerCenter">
            <p class="newsletter"><label>¡Suscríbete a nuestro newsletter!</label></p><input type="email" name="Correo Electrónico">
            </div>
            <div class="contacto">
                <p class="textoIcono"><img src="images/icons/location.png" alt="mapa" height="25px">
                Av. Rafael Nuñez 458 │ Córdoba, Argentina.</p>
                <p class="textoIcono"><img src="images/icons/call.png" alt="numero" height="25px">
                +54 9 351000000 </p>
                <p class="textoIcono"><img src="images/icons/msj.png" alt="email" height="25px">
                vueltaalto@it.edu</p>
            </div>
    </div>
    {{footer}}
</footer>
    </footer>

<script src="/app.js"></script>
</html>