<body>
    <main>
        <div class="bodyImageCursos"></div>
    </main>
    <section>
        <div class="cursosContainer">
            <div class="cursos"><img src="/public/images/icons/chek1.png" alt="chek" height="50rem"><p><h2>Clases presenciales</h2></p></div>
            <div class="cursos"><img src="/public/images/icons/chek1.png" alt="chek" height="50rem"><p><h2>Distintos niveles</h2></p></div>
            <div class="cursos"><img src="/public/images/icons/chek1.png" alt="chek" height="50rem"><p><h2>Materiales incluidos</h2></p></div>
            <div class="cursos"><img src="/public/images/icons/chek1.png" alt="chek" height="50rem"><p><h2>Certificado al finalizar</h2></p></div>
        </div>
    </section>
    <aside class="cardsContainer"> <!-- No puedo aplicar el grid (hijos flex) que tendre mal?-->
            <article class="cardCursos">
                    <img src="images/cR.png" alt="robotica" class="cursosImages">
                    <div class="cursosTitulo"><p><h3>Robotica Educativa</h3></p></div>
                    <div class="about"><p><h5>Diseña y construye robots con Lego. Aprende a programarlos para darle múltiples habilidades con Scratch Jr.</h5></p></div>
            </article>
            <article class="cardCursos">
                <img src="images/pI.png" alt="programacion" class="cursosImages">
                <div class="cursosTitulo"><p><h3>Programación Inicial</h3></p></div>
                <div class="about"><p><h5>Aprende a través del juego con Scratch Jr. los principios de la programción: funciones  y algoritmos.</h5></p></div>
            </article>
            <article class="cardCursos">
                <img src="images/cPV.png" alt="videojuegos" class="cursosImages">
                <div class="cursosTitulo"><p><h3>Programación para Videojuegos</h3></p></div>
                <div class="about"><p><h5>Incorpora el pensamiento lógico y la creatividad con Minecraft Education y Roblox Studio para el desarollo de videojuegos.</h5></p></div>
            </article>
            <article class="cardCursos">
                <img src="images/cV.png" alt="videos" class="cursosImages">
                <div class="cursosTitulo"><p><h3>Edición de Video</h3></p></div>
                <div class="about"><p><h5>Descubre como editar videos y generar contenido, pensado principalmente para tu propio canal de Youtube. </h5></p></div>
            </article>
            <article class="cardCursos">
                <img src="images/cPM.png" alt="musica" class="cursosImages">
                <div class="cursosTitulo"><p><h3>Producción Musical</h3></p></div>
                <div class="about"><p><h5> Aprende a componer aplicando teoría musical con librerias digitales y Ableton Live. No es necesario disponer de instrumento. </h5></p></div>
            </article>
            <article class="cardCursos">
                <img src="images/cID.png" alt="ilustracion" class="cursosImages">
                <div class="cursosTitulo"><p><h3>Ilustración Digital</h3></p></div>
                <div class="about"><p><h5> Crea personajes desde el papel, y aprende el proceso de ilustración digital con Adobe Ilustrator</h5></p></div>
            </article>
    </aside>
</body>
</html>