<div class="err404">
<a href="/"><input class="btn btn-light" type="button" value="Regresar"></a>
</div>


{{!--class="btn btn-light"  --}}
{{!-- <body>
    <div class="container.Err">
        <img class="Error404" src="images/404.jpg" alt="Page Not Found">
        <a href="/"><input class="btn btn-light" type="button" value="Regresar"></a>
    </div>
</body> --}}
