<body>
    <main>
        <div class="mainConteiner">
            <div class="bodyImgCover">
                <div class="fontName"><img src="images/fontName.png" alt="VuelaAlto" height="200px"></div>
                    <p class="whatWeDo">
                            Brindamos herramientas para impulsar a los jóvenes <br> del futuro en el campo tecnológico,
                            principalmente <br> a través de la programación y la robótica educativa.
                            <div class="ctaBox">
                            <a class="ctaItem" href="/views/Cursos">VER CURSOS</a></div>
                            </p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <aside>
        <div class="benefitBox">
        <p><h2>Conocé los principales beneficios de aprendizaje</h2></p>
        </div>
    </aside>
    <section>
        <div class="containerGrid">
            <article class="icon">
                <img src="images/icons/curiosity-08.png" alt="curiosidad" height="100px">
                    <p><h3 class="textStyle"> Conocimientos incorporados a traves de la cuirosidad y el juego</h3></p>
            </article>
            <article class="icon">
                <img src="images/icons/logic.png" alt="logica" height="100px">
                <p><h3 class="textStyle"> Desarollo de el pensamiento lógico</h3></p>
            </article>
            <article class="icon">
                <img src="images/icons/lider.png" alt="liderazgo" height="90px">
                <p><h3 class="textStyle">Potencia la capacidad de liderazgo</h3></p>
            </article>
            <article class="icon">
                <img src="images/icons/teamwork.png" alt="equipo" height="100px">
                <p><h3 class="textStyle">Aprende a trabajar en proyectos colaborativos</h3></p>
            </article>
            <article class="icon">
                <img src="images/icons/code.png" alt="codigo" height="80px">
                <p><h3 class="textStyle">Incorpora pensamiento computacional a través de la programación</h3></p>
            </article>
            <article class="icon">
                <img src="images/icons/mecanic.png" alt="robot" height="105px">
                <p><h3 class="textStyle">Anáñisis y diseño de mecánica de robots</h3></p>
            </article>
        </div>
    </section>    
</body>
</html>