<form action="/users/login" method="POST">
  <div class="mb-3">
    <label for="user" class="form-label">Dirección de email</label>
    <input  name="email" type="text" class="form-control" id="email" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="pass" class="form-label">Contraseña</label>
    <input  name="pass" type="password" class="form-control" id="pass">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="chek">
    <label class="form-check-label" for="exampleCheck1">Mantenerme Conectado</label>
  </div>
    {{#if message}}
    {{message}}
    {{/if}}
  <input type="submit" class="btn btn-success" value="Iniciar sesión" />
  {{!-- ¿QUE SUCEDE UNA VEZ Q INICIA SESIÓN? --}}
<a href="/users/register" class="btn btn-warning">Registrarme</a>
</form>